language: node_js
node_js:
  - 0.12
  - 4.2
  - stable
env:
  - CXX=g++-4.8
os:
  - linux
  - osx
addons:
  apt:
    sources:
       - ubuntu-toolchain-r-test
    packages:
       - gcc-4.8
       - g++-4.8
